* {
  font-family: 'Baloo', cursive;
}

body {
  background: #ccc;
}

table {
  border: 10px solid black;
}

td {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
  background: white;
}

th {
  background-color: navy;
  color: white;
}